<div class = "row">
    <h2> Employee List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email</th>
            <th> Phone Number</th>
            <th> Salary</th>
            <th> Deparment</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.phone_number }} </td>
            <td> {{ employee.salary }} </td>
            <td> {{ employee.department?.department_Name }} </td>

            
            <td>
                <button (click) = "updateEmployee(employee.employeeID)" class = "btn btn-primary"> Update</button> 
                <button (click) = "deleteEmployee(employee.employeeID)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    
    </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
